@import '~src/assets/styles/_variables.scss';

.header {
  position: fixed;
  width: 100%;
  height: $header-height;
  background-color: lighten($background-color, 5);
  color: white;
  padding: 0.5rem;

  &__nav {
    ul {
      display: flex;
      margin-top: 2rem;

      li {
        list-style-type: none;

        a {
          margin-right: 1rem;
          padding: 0.5rem 1rem;
          color: gray;
          text-decoration: none;

          &:visited {
            color: #cfaaff;
          }

          &:hover,
          &:focus {
            outline: 1px solid white;
            color: white;
          }
        }
      }
    }
  }
}

.main {
  padding-top: $header-height;
  background: $background-color;
}
